* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #777;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 930px;
    font-size: 18px;
    margin-right: -275px;
    margin-left: 200px
}

header {
    background-color: #ebebeb;
    float: center;
    padding: 20px;
    margin-bottom: 10px;
}

nav {
    background-color: #ebebeb;
    float: center;
    padding: 20px;
    margin-bottom: 20px;
}

#container {
    overflow: auto; 
}

section {
    background-color: #ebebeb;
    width: 495px;
    float: left;
    height: 285px;
    padding: 10px;   
/*if I put padding 20px, it adds a scroll bar, how do i get rid of the scroll bar?*/
}

article {
    color: #ebebeb;
    background-color: #777;
    height: 220px;  
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 20px;
    padding: 20px;
   
}

.heading {
    background-color: #ebebeb;
    color: #777; 
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;   
}

p {
    background-color: #ebebeb;
    color: #777; 
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px; 
}

aside {
    background-color: #ebebeb;  
    width: 415px;
    float: left;
    height:285px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 30px;   
}

footer {
    background-color: #ebebeb;
    padding: 20px;
    clear: both;
/*margin-top won't work but it worked for nav (margin-bottom). Why?*/
}